<div class="container">

  <div class="row">

    <div class="col-md-12">

      <div class="hero-container">

        <div class="hero-content">

	
<h3 style="text-align:center;">
<img src="files/pics/pic.jpg" align="middle" height="150" width="150"  border="5" style="float:middle; border-color:white; border-radius: 50%;"/></h3>
			

		
	  {% if site.data.global.title != '' %}
            <h3 class="text-center">{{ site.data.global.title }}</h3>
	    <h5 class="text-center">{{ site.data.global.email }}</h5>
	    <h5 class="section-title"></h5>
            {% endif %}
	

          <p>I am a Computer Science PhD student (since 2016) at the <a href="http://www.colorado.edu/cs">University of Colorado Boulder</a>. I work with my advisor <a href="http://eric-keller.github.io">Eric Keller</a> in the <a href="http://nsr.colorado.edu/">Networking and Security Research Group (NSR)</a>. My research spans the areas of Software-defined Networking (SDN), Network Functions Virtualization (NFV), and distributed, cloud, and network systems in general. I interned at <a href="http://about.att.com/sites/labs_research">AT&amp;T Labs Research</a> during the summer of 2017, and have been working closely with them ever since.</p>


         

          <div class="hero-buttons">


            {% if site.data.global.linkedin != '' %}
              <a href="{{ site.data.global.linkedin }}"><button class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-lg"></i></button></a>
            {% endif %}
		
	 {% if site.data.global.instagram != '' %}
              <a href="{{ site.data.global.instagram }}"><button class="btn btn-default btn-lg"><i class="fa fa-instagram fa-lg"></i></button></a>
            {% endif %}

	{% if site.data.global.500px != '' %}
              <a href="{{ site.data.global.500px }}"><button class="btn btn-default btn-lg"><i class="fa fa-500px fa-lg"></i></button></a>
            {% endif %}


	
          </div>

        </div>

      </div>



    </div>

  </div>

</div>
